/* Comments*/

/* Quick and crude reset */
#comments ul#trackback-list,
#comments ul#trackback-list li,
#comments ul#commentlist,
#comments ul#commentlist ul,
#comments ul#commentlist li {
	border: 0 none;
	padding: 0;
	margin: 0;
}

#comments {
	display: block;
	clear: both;
	overflow: auto;
	min-height: 1px;
	position: relative;
	z-index: 100;
}

#comments ul#commentlist ul li {
	margin-left: 20px;
}

#comments .trackback-toggle,
#comments ul#commentlist div.toggle,
#comments ul#commentlist li .comment-body {
	padding: 9px;
	border: solid 1px #dfdfdf;
	margin-bottom: 11px;
	background-color: #fff;
	color: #333;
	overflow: auto;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.comment-body .moderation,
#comment-form .error {
	background-color: #FFFFE0;
	border: solid 1px #E6DB55;
	margin-top: 5px;
	color: #333;
	padding: 5px;
	font-size: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.comment-body .moderation {
	display: block;
	margin-bottom: 3px;
}

#commentlist .comment-author-avatar {
	display: inline;
	float: left;
	margin: 0 10px 0 0;
}

#comments .trackback-toggle,
#comments ul#commentlist div.toggle {
	cursor: pointer;
}

#comments div.toggle .poster-name {
	font-weight: bold;
	font-style: italic;
}
#comments .trackback-toggle:hover,
#comments ul#commentlist div.toggle:hover {
	background-color: #efefef;
}

.with-avatar #comment-form,
.with-avatar .comment-content {
	margin-left: 76px;
}

#commentlist .children .with-avatar .comment-content {
	margin-left: 44px;
}

.comment-buttons {
	margin-top: 5px;
	overflow: hidden;
}

.comment-reply-login,
.comment-button,
.comment-buttons .submit,
#cancel-comment-reply-link,
.comment-edit-link,
.comment-reply-link {
	border: 0 none;
	cursor: pointer;
	margin:  0 0 0 5px;
	float: right;
	padding: 3px 5px;
	background-color: #666;
	color: #fff;
	font-size: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.comment-button,
.comment-edit-link {
	float: left;
	margin: 0 5px 0 0;
}

#cancel-comment-reply-link:active,
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:hover {
	text-decoration:none;
	background-color: #933;
	color: #fff
}

.comment-buttons .submit:active,
.comment-buttons .submit:focus,
.comment-buttons .submit:hover,
.comment-reply-login:active,
.comment-reply-login:hover,
.comment-reply-login:focus,
.comment-reply-link:active,
.comment-reply-link:focus,
.comment-reply-link:hover,
.comment-edit-link:active,
.comment-edit-link:focus,
.comment-edit-link:hover,
.comment-button:active,
.comment-button:focus,
.comment-button:hover {
	text-decoration:none;
	background-color: #333;
	color: #fff
}

.comment-buttons .disabled,
.comment-buttons .disabled:active,
.comment-buttons .disabled:focus,
.comment-buttons .disabled:hover {
	background-color: #ddd;
	cursor: wait;
	text-decoration: none;
	color: #fff;
}

.comment-meta {
	margin-bottom: 5px;
}

#comment-form .textarea-border,
#author, #email, #url {
	border: solid 1px #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.textarea-border {
	padding: 5px;
}

li#respond {
	margin-top: 60px;
}

#comment {
	border: 0 none;
	background-color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
}


/* Pagination */
#comment-pagination {
	clear:both;
	text-align: center;
	padding: 1em 0;
}
	.page-links a {text-decoration:none}

	.page-numbers {
		line-height: 26px;
		height: 26px;
		min-width: 20px;
		padding: 0 3px;
		margin-right: 2px;
		display: inline-block;
		text-align:center;
		text-decoration:none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;

		background-color: #fff;
		color:#000;
	}

	a.page-numbers:focus,
	a.page-numbers:hover {
		background-color: #ccc;
		color: #333;
	}

span.dots,
a.prev, a.next {
	background-color:transparent;
	color: #fff;
}

a.prev, a.next {
	font-size: 200%;
	vertical-align:top;
}

/* Colours */

a.prev:focus,
a.next:focus,
a.prev:hover,
a.next:hover {
	color:#ccc;
	background-color:transparent;
}

.current {
	background-color:#ccc;
	color:#999;
}

.pageLinks .page-numbers, #comment-pagination span.current {
	background-color:#eee;
	color:#ccc;
}

.pageLinks a .page-numbers,
#comment-pagination .page-numbers {
	color:#666;
	background-color: #ddd;
	text-decoration:none;
}

#comment-pagination span.dots,#comment-pagination a.prev,#comment-pagination a.next {
	background-color:transparent;
	color: #333;
}

.pageLinks a:hover .page-numbers,
#comment-pagination a.page-numbers:focus,
#comment-pagination a.page-numbers:hover {
	background-color: #666;
	color: #fff;
	text-decoration:none;
}

#comment-pagination a.prev:focus,
#comment-pagination a.next:focus,
#comment-pagination a.prev:hover,
#comment-pagination a.next:hover {
	background-color:transparent;
	color:#666;
}

#comments ul#commentlist li .comment-body,
.ie6 .comment-buttons {
	zoom: 1
}

.comment-title {
	font-size: 140%;
	font-weight: normal;
	margin-bottom: 0.5em;

}
ul#trackback-list {
	margin: 0;
	padding: 0;
}

#trackback-list li {
	margin-bottom: 20px;
}
#commentlist .pingback cite.fn,
#commentlist .trackback cite.fn,
#trackback-list cite.fn {
	display:block;
}

#commentlist .pingback span.date,
#commentlist .trackback span.date,
#trackback-list span.date {
	font-style: italic;
	color: #666;
}

#trackback-list .comment-body {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: solid 1px #DFDFDF;
}
