/*
 comment style: Dark theme
*/

/* Quick and crude reset */
#comments fieldset, #comments cite, #comments input, #comments textarea,
#comments form, #comments p, #comments img, #comments blockquote, #comments ul,
#comments #commentlist li, #comments .comment-buttons *, #comments #respond {
	background-color: transparent;
	color: #ddd;
	border: 0 none;
	padding: 0;
	margin: 0;
	list-style: none outside;
	font-style: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	text-transform: none;
	line-height: inherit;

	/* Kill box shadows from 2010 theme */
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#comments input {
	width: auto;
}

#comments img.avatar {
	border: 0 none !important;
	padding: 0 !important;
	margin: 0 !important;
	width: auto;
	height: auto;
	float: none;
}

#comments {
	display: block;
	clear: both;
	overflow: hidden;
	min-height: 1px;
	position: relative;
	z-index: 10;
}

#comments ul#commentlist ul li {
	margin-left: 20px;
}

#comments .trackback-toggle,
#comments ul#commentlist div.toggle,
#comments ul#commentlist li .comment-body {
	background-color: #222;
	border: solid 1px #444;
	color: #ddd;
	padding: 9px;
	overflow: auto;
	margin-bottom: 11px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.comment-body .moderation,
#comment-form .error {
	background-color: #FFFFE0;
	border: solid 1px #E6DB55;
	margin-top: 5px;
	color: #333;
	padding: 5px;
	font-size: 10px;
	min-height: 1px; /* IE7 */

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.comment-body .moderation {
	display: block;
	margin-bottom: 3px;
	clear: both;
}

#commentlist .comment-author-avatar {
	display: inline;
	float: left;
	margin: 0 10px 10px 0;
}

#commentlist li.bypostauthor > div.comment-body .comment-author-avatar {
	padding-bottom: 5px;
	border-bottom: solid 5px #550;
}

#comments .trackback-toggle,
#comments ul#commentlist div.toggle {
	cursor: pointer;
}

#comments cite.fn,
#comments div.toggle .poster-name {
	font-weight: bold;
}

#comments .trackback-toggle:hover,
#comments ul#commentlist div.toggle:hover {
	background-color: #333;
}

.with-avatar #comment-form,
.with-avatar .comment-content {
	margin-left: 76px;
}

#commentlist .children .with-avatar .comment-content {
	margin-left: 44px;
}

#comments .comment-meta {
	margin-bottom: 5px;
	height: auto;
}

/* Comment buttons */

#comments .comment-buttons {
	margin-top: 9px;
	overflow: hidden;
}

#comments .comment-buttons .comment-button,
#comments .comment-buttons a ,
#comments .comment-buttons input {
	border: 0 none;
	cursor: pointer;
	margin:  0 0 0 5px;
	float: right;
	padding: 0 5px;
	background: none #333;
	color: #fff;
	font-size: 10px;
	height: 18px;
	line-height: 18px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#comments .comment-buttons a.comment-button,
#comments .comment-buttons a.comment-edit-link {
	float: left;
	margin: 0 5px 0 0;
}

#comments #cancel-comment-reply-link:active,
#comments #cancel-comment-reply-link:focus,
#comments #cancel-comment-reply-link:hover {
	background-color: #933;
	color: #fff
}

#comments .comment-buttons input:active, #comments .comment-buttons input:focus,
#comments .comment-buttons input:hover, #comments .comment-buttons a:active, #comments .comment-buttons a:focus,
#comments .comment-buttons a:hover, #comments .comment-button:active,
#comments .comment-button:focus, #comments .comment-button:hover {
	background-color: #666;
	color: #fff
}

#comments .comment-buttons .disabled,
#comments .comment-buttons .disabled:active,
#comments .comment-buttons .disabled:focus,
#comments .comment-buttons .disabled:hover {
	background-color: #ddd;
	cursor: wait;
	color: #fff;
}

/* End Comment buttons */

#comments .comment-form-row {
	overflow: auto;
	margin-bottom: 10px;
	width: 100%;
}

#comments .comment-form-row input,
#comment-form .textarea-border {
	border: solid 1px #444;
	background-color: #333;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#comments .comment-form-row label {
	float: left;
	width: 18%;
}

#comments .comment-form-row input {
	width: 80%;
	float: right;
	margin: 0;
	padding: 3px 2px 2px
}

#comments .comment-form-row label sup {
	vertical-align: 0.4em;
	font-size: smaller;
	color: #900;
}

.textarea-border {
	padding: 5px;
}

#comment-form span.required {
	display: block;
	text-align: right;
	font-size: small;
	color: #999;
}

#comment-form .oops {
	background: url( exclamation.png ) no-repeat 98% center;
}

#comment-form textarea.oops {
	background-position: right top;
}

#comments #comment {
	border: 0 none;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}


/* Pagination */
#comment-pagination {
	clear:both;
	text-align: center;
	padding: 1em 0;
}
	.page-links a {text-decoration:none}

	.page-numbers {
		line-height: 26px;
		height: 26px;
		min-width: 20px;
		padding: 0 3px;
		margin-right: 2px;
		display: inline-block;
		text-align:center;
		text-decoration:none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;

		background-color: #fff;
		color:#000;
	}

	a.page-numbers:focus,
	a.page-numbers:hover {
		background-color: #ccc;
		color: #333;
	}

span.dots,
a.prev, a.next {
	background-color:transparent;
	color: #fff;
}

a.prev, a.next {
	font-size: 200%;
	vertical-align:top;
}

/* Colours */

a.prev:focus,
a.next:focus,
a.prev:hover,
a.next:hover {
	color:#ccc;
	background-color:transparent;
}

.current {
	background-color:#ccc;
	color:#999;
}

.pageLinks .page-numbers, #comment-pagination span.current {
	background-color:#eee;
	color:#ccc;
}

.pageLinks a .page-numbers,
#comment-pagination .page-numbers {
	color:#666;
	background-color: #ddd;
	text-decoration:none;
}

#comment-pagination span.dots,#comment-pagination a.prev,#comment-pagination a.next {
	background-color:transparent;
	color: #333;
}

.pageLinks a:hover .page-numbers,
#comment-pagination a.page-numbers:focus,
#comment-pagination a.page-numbers:hover {
	background-color: #666;
	color: #fff;
	text-decoration:none;
}

#comment-pagination a.prev:focus,
#comment-pagination a.next:focus,
#comment-pagination a.prev:hover,
#comment-pagination a.next:hover {
	background-color:transparent;
	color:#666;
}

#comments ul#commentlist li .comment-body,
.ie6 .comment-buttons {
	zoom: 1
}

.comment-title {
	font-size: 140%;
	font-weight: normal;
	margin-bottom: 0.5em;

}
ul#trackback-list {
	margin: 0;
	padding: 0;
}

#trackback-list li {
	margin-bottom: 20px;
}

#comment #commentlist .pingback cite.fn,
#comment #commentlist .trackback cite.fn,
#comment #trackback-list cite.fn {
	display:block;
}

/*
 For RPX openid plug-in and
 anyone else who sticks a
 small image next to the
 name.
*/
#commentlist cite.fn img {
	vertical-align: text-top;
	float: right;
}

#commentlist .pingback span.date,
#commentlist .trackback span.date,
#trackback-list span.date {
	font-style: italic;
	color: #666;
}

#trackback-list .comment-body {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: solid 1px #DFDFDF;
}

#comment-form blockquote {
	border-left:0.325em solid #dfdfdf;
	font-style:italic;
	margin:0 6%;
	padding-left:0.65em;
}

#comments .comment-text {
	overflow: hidden;
}

#comments .comment-text p {
	margin-bottom: 0.75em;
}

#comments .reply-quote cite {
	font-weight: 700;
}

.tb-from {
	font-style: italic;
}

.comment-link-display {
	padding: 5px 10px;
	background-color: #fff;
	border: solid 1px #bbb;
	cursor: pointer;

	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );

	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );

	-o-border-radius: 5px;
	-o-box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );

	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );
}

.comment-link-display input {
	cursor: text;
	width: 250px;
	margin-left: 5px;
}
