/* Comments*/

/* Quick and crude reset */
#comments ul#commentlist,
#comments ul#commentlist ul,
#comments ul#commentlist li {
	border: 0 none;
	padding: 0;
	margin: 0;
}

#comments {
	display: block;
	clear: both;
	overflow: auto;
	min-height: 1px;
	position: relative;
	z-index: 100;
}

#comments ul#commentlist ul li {
	margin-left: 20px;
}

#comments ul#commentlist div.toggle,
#comments ul#commentlist li .comment-body {
	padding: 9px;
	border: solid 1px #dfdfdf;
	margin-bottom: 10px;
	background-color: #fff;
	color: #333;
	overflow: auto;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#commentlist .comment-author-avatar {
	display: inline;
	float: left;
	margin: 0 10px 0 0;
}

#comments ul#commentlist div.toggle {
	cursor: pointer;
}

#comments ul#commentlist div.toggle:hover {
	background-color: #efefef;
}

.with-avatar #comment-form,
.with-avatar .comment-content {
	margin-left: 76px;
}

#commentlist .children .with-avatar .comment-content {
	margin-left: 44px;
}

.comment-buttons {
	margin-top: 5px;
	overflow: hidden;
}

.comment-button,
.comment-buttons .submit,
#cancel-comment-reply-link,
.comment-edit-link,
.comment-reply-link {
	border: 0 none;
	cursor: pointer;
	margin:  0 0 0 5px;
	float: right;
	padding: 3px 5px;
	background-color: #666;
	color: #fff;
	font-size: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.comment-button,
.comment-edit-link {
	float: left;
	margin: 0 5px 0 0;
}

#cancel-comment-reply-link:active,
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:hover {
	text-decoration:none;
	background-color: #933;
	color: #fff
}

.comment-buttons .submit:active,
.comment-buttons .submit:focus,
.comment-buttons .submit:hover,
.comment-reply-link:active,
.comment-reply-link:focus,
.comment-reply-link:hover,
.comment-edit-link:active,
.comment-edit-link:focus,
.comment-edit-link:hover,
.comment-button:active,
.comment-button:focus,
.comment-button:hover {
	text-decoration:none;
	background-color: #333;
	color: #fff
}

.comment-buttons .disabled,
.comment-buttons .disabled:active,
.comment-buttons .disabled:focus,
.comment-buttons .disabled:hover {
	background-color: #ddd;
	cursor: wait;
	text-decoration: none;
	color: #fff;
}

.comment-meta {
	margin-bottom: 5px;
}

#comment-form .textarea-border,
#author, #email, #url {
	border: solid 1px #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.textarea-border {
	padding: 5px;
}

li#respond {
	margin-top: 60px;
}

#comment {
	border: 0 none;
	background-color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
}


/* Pagination */
#comment-pagination {
	clear:both;
	text-align: center;
	padding: 1em 0;
}
	.page-links a {text-decoration:none}

	.page-numbers {
		line-height: 26px;
		height: 26px;
		min-width: 20px;
		padding: 0 3px;
		margin-right: 2px;
		display: inline-block;
		text-align:center;
		text-decoration:none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;

		background-color: #fff;
		color:#000;
	}

	a.page-numbers:focus,
	a.page-numbers:hover {
		background-color: #ccc;
		color: #333;
	}

span.dots,
a.prev, a.next {
	background-color:transparent;
	color: #fff;
}

a.prev, a.next {
	font-size: 200%;
	vertical-align:top;
}

/* Colours */

a.prev:focus,
a.next:focus,
a.prev:hover,
a.next:hover {
	color:#ccc;
	background-color:transparent;
}

.current {
	background-color:#ccc;
	color:#999;
}

.pageLinks .page-numbers, #comment-pagination span.current {
	background-color:#eee;
	color:#ccc;
}

.pageLinks a .page-numbers,
#comment-pagination .page-numbers {
	color:#666;
	background-color: #ddd;
	text-decoration:none;
}

#comment-pagination span.dots,#comment-pagination a.prev,#comment-pagination a.next {
	background-color:transparent;
	color: #333;
}

.pageLinks a:hover .page-numbers,
#comment-pagination a.page-numbers:focus,
#comment-pagination a.page-numbers:hover {
	background-color: #666;
	color: #fff;
	text-decoration:none;
}

#comment-pagination a.prev:focus,
#comment-pagination a.next:focus,
#comment-pagination a.prev:hover,
#comment-pagination a.next:hover {
	background-color:transparent;
	color:#666;
}

#comments ul#commentlist li .comment-body,
.ie6 .comment-buttons {
	zoom: 1
}


/*#commentlist { color: #333}*/
/*#commentlist .comment-body {background-color: #fff}*/
/*#commentlist .depth-1  .toggle, #commentlist .depth-1 {background-color:#ddd;border-color:#ddd}*/
/*#commentlist .depth-2  .toggle, #commentlist .depth-2 {background-color:#ccc;border-color:#ccc}*/
/*#commentlist .depth-3  .toggle, #commentlist .depth-3 {background-color:#ddd;border-color:#ddd}*/
/*#commentlist .depth-4  .toggle, #commentlist .depth-4 {background-color:#ccc;border-color:#ccc}*/
/*#commentlist .depth-5  .toggle, #commentlist .depth-5 {background-color:#ddd;border-color:#ddd}*/
/*#commentlist .depth-6  .toggle, #commentlist .depth-6 {background-color:#ccc;border-color:#ccc}*/
/*#commentlist .depth-7  .toggle, #commentlist .depth-7 {background-color:#ddd;border-color:#ddd}*/
/*#commentlist .depth-8  .toggle, #commentlist .depth-8 {background-color:#ccc;border-color:#ccc}*/
/*#commentlist .depth-9  .toggle, #commentlist .depth-9 {background-color:#ddd;border-color:#ddd}*/
/*#commentlist .depth-10 .toggle, #commentlist .depth-10{background-color:#ccc;border-color:#ccc}*/
/*#commentlist li.bypostauthor > div.comment-body .vcard a,*/
/*#commentlist li.bypostauthor > div.comment-body .vcard {color:#aa0}*/
/*#commentlist li.bypostauthor > div.comment-body img.avatar {border-color:#aa0}*/
/**/
/*.commentSubmit a{color: #900; text-decoration:none;}*/
/*.commentSubmit a:hover {color: #f00; text-decoration:none;}*/
/*.trackbackToggle{border-color:#ddd;background-color:#fff;color:#333}*/
/**/
/*#author, #email, #url, #comment {*/
/*	border-color:#ddd;*/
/*	background-color: #fff;*/
/*	color:#333;*/
/*}*/
/**/
/*/* IE6 Fixes */
/*.ie6 .page-numbers {width: 20px;white-space:nowrap}*/
/*.ie6 .trackbackToggle,*/
/*.ie6 #trackbackList,*/
/*.ie6 li.comment,*/
/*.ie6 #comments { display: inline-block}*/
/**/
/*/* classed added by jQuery only to ie6 */*/
/*.ie6 #commentlist li.first-child {margin-top:0}*/
/*.ie6 #commentlist div.bypostauthor img.avatar{border:solid 2px;	padding:1px}*/
/*.ie6 #commentlist div.bypostauthor .vcard a,*/
/*.ie6 #commentlist div.bypostauthor .vcard {color:#aa0}*/
/*.ie6 #commentlist div.bypostauthor img.avatar {border-color:#aa0}*/
